@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Raleway:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Proto";
  src: url("/font/Roobert-Regular.ttf");
} */

.noScrollbar::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #23262f;
  box-shadow: inset 0 0 5px gray;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #121214;
  border: 3px solid #23262f;
  border-radius: 12px;
}

@keyframes animate-maze {
  0% {
    fill: blue;
  }
  25% {
    fill: red;
  }
  50% {
    fill: yellow;
  }
  75% {
    fill: orange;
  }
  100% {
    fill: blue;
  }
}

.game-block {
  margin: 0;
  padding: 0;
  width: 1.8em;
  height: 1.8em;
  border: 2px solid #7e7e7e;
}
.piece-i {
  background-color: #ea4951;
}
.piece-j {
  background-color: #ec7032;
}
.piece-l {
  background-color: #f8db04;
}
.piece-o {
  background-color: #13f48f;
}
.piece-s {
  background-color: #0f49e8;
}
.piece-t {
  background-color: #24a6eb;
}
.piece-z {
  background-color: #e425c1;
}
.piece-preview {
  background-color: #ccc;
}

.piece-view {
  margin-bottom: 0.25rem;
}
